{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block main %}

<h1>Card Deck</h1>
<p>A deck of cards.</p>

{% for card in cards %}
    <span class="card">{{ card }}</span>
{% endfor %}

{% endblock %}
