{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block main %}

<h1>Draw card</h1>
<span class="card">{{ card }}</span>
{{ include('flash.html.twig') }}
<p>Cards left in deck: {{ cardsLeft }}</p>

{% endblock %}
