{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block main %}

<h1>Draw a card</h1>
<span class="card">{{ card }}</span>
{{ include('flash.html.twig') }}
<h3>Cards left in deck: {{ cardsLeft }}</h3>

{% endblock %}
