{% extends "base.html.twig" %}

{% block title %}Card game{% endblock %}

{% block main %}

<h1>Card game</h1>
<p>Jag har tre klasser Card, CardGraphic och DeckOfCards. </p>

<a href="{{ path('deck') }}">Show deck of cards</a>
<a href="{{ path('shuffle') }}">Shuffled cards</a>
<a href="{{ path('draw') }}">Draw card from deck</a>
<a href="{{ path('draw_many', { "num": 0}) }}">Draw cards from deck</a>

{% endblock %}
