{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block main %}

<h1>Shuffled cards</h1>

{% for card in shuffledCards %}
    <span class="card">{{ card }}</span>
{% endfor %}

{% endblock %}
