body {
    margin: 0 auto;
    width: 70%;
}

.main {
    padding: 0.8em;
}

h1 {
    border-bottom: 4px double #ccc;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    width: 75%;
    padding: 0.5em;
}

.sidebar {
    width: 20%;
    padding: 0.5em;
}

footer {
    border-top: 4px double #ccc;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

/* Lucky */

@keyframes colors {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}

#luckynbr {
    font-size: 200px;
    text-align: center;
    color: red;
    animation-name: colors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* background-image: url("../images/confetti.jpg"); */
    /* background-size: cover; */
}


/**
 * kmom02
 */

input {
    font-size: 1em;
}

.die {
    font-size: 3em;
}

main {
    padding: 0.5em;
}

ul.dicearea {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.dicearea li {
    display: inline;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

/* navbar */
.navbar a {
    text-decoration: none;
}

.card {
    font-size: 9em;
}

/* Card */
ul {
    padding: 0;
}

li {
    list-style: none;
}

