{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1>Om mig</h1>
    <img src="{{ asset('img/mini_tjockis.jpg') }}" width="30%" alt="mina katter">
    <p>Mitt namn 칛r Jenny. Jag 칛r f칬dd och uppv칛xt i Malm칬. Jag har tv친 katter som 칛r s칬ta monsterbusfr칬n. 
        Ibland vill de g칛rna sitta och sova p친 tangentbordet n칛r jag ska plugga.
    </p>
    <p>Mitt intresse f칬r programmering har v칛xt ju mer jag kommit i kontakt med det. Jag har tidigare l칛st 
        systemutveckling, men k칛nde att det inte var f칬r mig. Nu l칛ser jag Webbprogrammering p친 distans och 
        ser framemot att l칛sa och f친 l칛ra mig av mvc kursen.
        
        游땕</p>
{% endblock %}
