{# templates/lucky_number.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Lucky number{% endblock %}

{% block main %}
    <h1>Lucky number</h1>
    <p>Welcome to my awesome magical homepage!</p>
    <p>This is the current magical lucky number: </p>
    <p id="luckynbr" style="background: url({{ asset('img/confetti.jpg') }})">
    {# <p id="luckynbr"> #}
        {{ number }}</p>
{% endblock %}
